*{
    margin: 0;
    padding: 0;
}
header{
    background-color: grey;
    width: 100%;
    margin:0 auto;
    padding:20px;

}


body{
    background-color:darkgrey;

    width:100%;
}


div {
    text-align: center;
}

h1{
    text-align: center;

}

nav ul{
    padding:10px;
    margin: 10px;
    text-align: center;
}

nav ul li{
    display:inline-block;/*Los elementos li en horizontal */
    margin: 20px;
    padding: 10px;
}

nav ul li a{
    text-decoration:none; /* Quita el subrayado del enlace a */
    font-weight: bold;
    display: inline-block;  /* Pone el link en el bloque */
    width: 200px;
    padding:10px;
    border-radius:20px;
    text-align: center; 
    background-color:green;
    border-bottom-style:groove;   /* Pone el borde inferior sombreado */
    color:white;
}

nav ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    color:red;
}


p{
    text-align: justify;
    font-family: arial;
    font-size: 20px;
    background-color:darkgrey;
    margin:5px;
    padding:5px;
    text-align: center;
}



table, thead, tbody, tfoot{
    width:100%;
    margin:40px;
    padding:20px;
    font-family: arial;
    font-size: 20px;
    border:1px solid black;
}

td,tr{
    border:1px solid black; 
}


footer{
    width: 100%;
    margin: auto;
    background-color:grey;
    border-radius: 20px;
    padding: 0px 10px;
    font-size: 30px;
}






.logo {
    margin-top: 50px;
}


#nombremio{

    background-color:grey;

}

.contacto{
    background-color:grey;

}

#cajamapa{

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#barraaceptacion {
	display:none;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	padding-bottom:20px;
	width:100%;
	text-align:center;
	min-height:40px;
	background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
	z-index:99999;
}

.inner {
	width:100%;
	position:absolute;
	padding-left:5px;
	font-family:verdana;
	font-size:12px;
	top:30%;
}

.inner a.ok {padding:4px;color:#00ff2e;text-decoration:none;}
.inner a.info {padding-left:5px;text-decoration:none;color:#faff00;}

.cuadro{
    width: 100%;
}