
a {color: #48577D; text-decoration: none;} 
  
a:hover {text-decoration: underline;} 
  
h1, h2 {margin-bottom: 15px} 
  
h1 {font-size: 18px;} 
h2 {font-size: 16px} 
  
#container { 
   width: 100%;
    margin: 150px auto; 
    background-color: #eee; 
    padding:15px; 
    overflow: hidden; 
} 

#main { 
    width: 90%; 
    float: left; 
    margin-left: 20px;
} 

#main table { 
    width: 80%; 
} 

#main table th { 
    padding: 10px; 
    background-color: #48577D; 
    color: #fff; 
    text-align: left; 
} 

#main table td { 
    padding: 5px; 
} 

#main table tr { 
    background-color: #d3dcf2; 
} 

#sidebar { 
width: 200px; 
float: left; 
}

.numero{
    text-align: right;
}
